.answer {
  display: none;
}

.answer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.answer__result {
  color: green;
}

.answer._active {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}