.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid;
  border-radius: 24px;
  background-color: #fff;
}

.form__image {
  position: absolute;
  right: 50%;
  top: 50%;
  width: 200px;
  height: auto;
  z-index: -1;
  border-radius: 20px;
  transform: translate(50%, -50%);
  transition: transform .4s ease-in-out;
}

.form__reset {
  opacity: .8;
  height: 40px;
  padding: 10px;
}
.form__label {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}

.form__input {
  background-color: transparent;
  font-size: inherit;
  border: 1px solid;
  border-radius: 16px;
  padding: 20px;
  font-size: 18px;
  line-height: 1;
  width: 100%;
  margin-bottom: 10px;
}

.form__message {
  color: transparent;
  display: block;
  height: 48px;
}

.form._hidden {
  display: none;
}

.form._fail .form__image {
  transform: translate(50%, -200%);
}

.form._fail .form__message {
  color: red;
}

@media screen and (max-width: 790px) {
  .form__label {
    font-size: 20px;
  }

  .form__image {
    width: 120px;
  }

  .form._fail .form__image {
    transform: translate(50%, -250%);
  }
}